<div style="text-align: center" class="animated flp infinite">
  content
</div>
<div [@fadeInDownOnEnter]="{ value: '', params: { duration: 300, delay: 0, translate: '30px' } }" ></div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, aliquid.
<div [@fadeInDownOnEnter] [@fadeOutOnLeave]> 

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quis, ad neque est facere eum consequatur dolor. Quibusdam sapiente expedita totam distinctio repudiandae, officia magni id! Repellat praesentium amet vel.
</div>